.home{
background-image: url(m/ww.jpg);
background-size: cover;
height: 100vh;

}
.home h2{
    color:white;
    padding-top: 200px; 
    
    
  

  
}
.home p{
   background-color:rgba(255, 255, 255, 0.5);
   
   color: rgb(3, 3, 3);
  padding: 10px;
  margin: 40px 40px 60px 60px;
  border-radius: 20px;
  
  
}
.about{
    background-color: black;
    background-size: cover;
    height: 130vh;
    
}
.about h2{
    color: white;
}
.about h5{
    color: white;
}
.about img{
     border: 6px solid rgb(255, 255, 255);
    border-radius: 10px;
   
  
}

.about img{
     border: 6px solid rgb(255, 255, 255);
   border-radius: 10px;
 
}

.about img{
    border: 6px solid rgb(255, 255, 255);
  border-radius: 10px;

}
.us{
    background-color: white;
   height: 40vh;
}
.us h2{
    color: black;
}
.us img{
    border: 6px solid rgb(223, 216, 216);
    border-radius: 10px;
}
.table{
    background-color: black;
    height: 3vh;
}
.copyrights air space {
color: blue;
}























